<!doctype html>
<html>
  <%= partial "partials/head" %>

  <body class="<%= page_classes %>">
    <%= partial "partials/header" %>

    <div class="container">
      <h1 class="title is-1 is-family-serif has-text-centered">
        <%= current_page.data.title %>
      </h1>

      <main role="main">
        <%= yield %>
      </main>
    </div>

    <%= partial "partials/footer" %>

    <%= javascript_include_tag "all" %>
    <%= google_analytics_tag %>
  </body>
</html>
