<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title><%= "#{current_page.data.title} < " if current_page.data.title %>Murtaza Gulamali</title>
    <meta name="description" content="Is my website, init!">
    <meta name="author" content="Murtaza Gulamali">
    
    <link rel="canonical" href="http://gulamali.net">
    <link rel="shortcut icon" href="favicon.gif">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <%= stylesheet_link_tag "normalize", "all" %>

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>

  <%= javascript_include_tag "all" %>
</html>
