<!doctype html>
<html>
  <%= partial "partials/head" %>

  <body class="<%= page_classes %>">
    <%= partial "partials/header" %>

    <div class="container">
      <main role="main">
        <%= yield %>
      </main>
    </div>

    <%= partial "partials/footer" %>

    <%= javascript_include_tag "all" %>
    <%= google_analytics_tag %>
  </body>
</html>
