<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title><%= page_title %></title>

    <meta name="description" content="Is my website, init!">
    <meta name="author" content="Murtaza Gulamali">

    <link rel="canonical" href="//gulamali.net">
    <link rel="shortcut icon" href="/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <%= stylesheet_link_tag "normalize", "all" %>

    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>

  <body class="<%= page_classes %>">
    <%= partial "partials/header" %>

    <main role="main">
      <%= yield %>
    </main>

    <%= partial "partials/footer" %>

    <script
      src="//code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous">
    </script>

    <%= javascript_include_tag "all" %>
    <%= google_analytics_tag %>
  </body>
</html>
